header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 400px;
  position: fixed;
  background-color: #a3ade3;
}

main {
  height: 100vh;
  background-color: #ededed;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  padding-top: 12vh;
}

section {
  height: 100%;
  width: 75%;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside {
  height: 100%;
  width: 25%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

aside div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  font-size: 24px;
  margin: 16px;
}

ul,
li {
  list-style: none;
}

h1 {
  font-family: "MedievalSharp";
}

#svg-menu {
  position: absolute;
  top: 2.5vh;
  left: 2.5vh;
  cursor: pointer;
  height: 8vh;
  transition: all 0.3s ease;
}

#svg-menu:hover {
  transform: scale(1.1);
}

#svg-menu:active {
  transform: scale(0.95);
}

#div-perfil {
  position: absolute;
  right: 2.5vh;
  top: 2.5vh;
  height: 8vh;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease;
}

#div-perfil:hover {
  transform: scale(1.1);
}

#div-perfil:active {
  transform: scale(0.95);
}

#div-perfil p {
  display: flex;
  align-items: center;
  margin-right: 10%;
}

.img-runa {
  height: 62px;
}

#div-eldorian {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
}

#div-eldorian img {
  transition: all 0.3s ease;
}

.virar-imagem-180 {
  transform: rotate(180deg);
}
